.ColsFilter
{
	border: 1px solid #cccccc;
	position: absolute;
	background-color: #dfe9f1;
	.btn-group-vertical
	{
		button
		{
			background-color: #dfe9f1;
			border: none;
			.glyphicon
			{
				padding-right: 5px;
				&.glyphicon-check
				{
					color: #2591ff;
				}
				&.glyphicon-unchecked
				{
					color: #888;
				}
			}
		}
	}

	.closeButtonContainer
	{
		text-align: center;
		display: block;
		padding: 15px;
	}
}